<div class="container">
  <h5>Employees</h5>
  <ul>
    <li class="emp-header">
      <div class="td-cell"> Name</div>
      <div class="td-cell"> City</div>
      <div class="td-cell">Phone Number</div>
      <div class="td-cell"> EmailId</div>
      <div class="td-cell">Actions</div>
    </li>
    <li *ngFor="let emp of empList" class="emp-row">
      <div class="td-cell"> {{emp.name}}</div>
      <div class="td-cell"> {{emp.city}}</div>
      <div class="td-cell"> {{emp.phone}}</div>
      <div class="td-cell"> {{emp.email}}</div>
      <div class="td-cell"><span class="link" (click)="editEmployee(emp)">Edit</span></div>
    </li>
  </ul>

<hr />
<div class="row ">
  <form [formGroup]="empForm" (ngSubmit)="onAddOrUpdateEmployeeDetails()" class="col-6 card">
    <h3>Employee Details</h3>
    <div class="form-group" >
      <label>Name</label>
      <input class="form-control" formControlName="name" placeholder="Employee Name"/>
    </div>
    <div class="form-group">
      <label>City</label>
      <input class="form-control" formControlName="city" placeholder="Employee City" />
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input class="form-control" formControlName="phone" placeholder="Employee Phone"/>
    </div>
    <div class="form-group">
      <label>EmailId</label>
      <input class="form-control" formControlName="email" placeholder="Employee Email"/>
    </div>
    <div class="col-12 mt-2" style="float: right;">
      <button class="btn btn-danger m-1" type="reset">Reset</button>
      <button class="btn btn-primary m-1" type="submit">Submit</button>
    </div>
  </form>
</div>
</div>
