<div class="container">
  <div class="row ">
    <form [formGroup]="empForm" (ngSubmit)="onAddOrUpdateEmployeeDetails()"
      class="col-12 card p-2 mb-3">
      <h3>Employee Details</h3>
      <div class="input-group-text">
        <input class="form-control" formControlName="name"
          placeholder="Employee Name" />

        <input class="form-control" formControlName="city"
          placeholder="Employee City" />

        <input class="form-control" formControlName="phone"
          placeholder="Employee Phone" />

        <input class="form-control" formControlName="email"
          placeholder="Employee Email" />
        <button class="btn btn-danger m-1" type="reset">Reset</button>
        <button class="btn btn-primary m-1" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <ul>
    <li class="emp-header">
      <div class="td-cell"> S.NO</div>
      <div class="td-cell"> Name</div>
      <div class="td-cell"> City</div>
      <div class="td-cell">Phone Number</div>
      <div class="td-cell"> EmailId</div>
      <div class="td-cell">Actions</div>
    </li>
    <li *ngFor="let emp of empList;index as i" class="emp-row">
      <div class="td-cell"> {{i+1}}</div>
      <div class="td-cell"> {{emp.name}}</div>
      <div class="td-cell"> {{emp.city}}</div>
      <div class="td-cell"> {{emp.phone}}</div>
      <div class="td-cell"> {{emp.email}}</div>
      <div class="td-cell"><span class="link "
          (click)="editEmployee(emp)">Edit</span>
          <span class="link" style="color:red; margin-left: 10px" (click)="deleteEmployee(emp)">Delete</span>
        </div>
    </li>
  </ul>


</div>
